<!DOCTYPE html>
<html lang="es">
    <head>
        <style>
            .footerUser{
            position: relative;
            margin-top : 5rem;
            border-top: 5px solid #d92128;
         }
         </style>
    </head>

<body>
  <div class="container-fluid p-3 my-3 footerUser">
        <div class="row ">
            <div class="col-6 col-md-2 mb-3">
            </div>
            
            <div class="col-6 col-md-2 mb-3">
                <h5>Santo Somingo</h5>
                <ul class="nav flex-column">
                   
                  
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Sobre Nosotros</h5>
                <ul class="nav flex-column">
                  
                 
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>
                 <i class="fas fa-map-marker-alt fa-2x">
                      <a href="uyht"></a>
                </i>¿ Como llegar ?</h5>
               
                <ul class="nav flex-column">
                   

                </ul>
            </div>
         </div>

     
    <footer class="py-5 mt-2 pt-2 "> 
        <div class="row ">
                <div class="col-6 col-md-2 mb-3">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/laksita.jpg" class="logo w-100" /></a>

                </div>

            <div class="col-6 col-md-2 mb-3">
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-danger" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

       
    </footer>
  </div>
</body>
</html>
