
@{
    ViewData["Title"] = "Contact";
}



<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h1 class="h1-responsive font-weight-bold text-center my-4">Contactenos </h1>
    <!--Section description-->
    <h3 class="text-center w-responsive mx-auto mb-5">
        Si tiene alguna pregunta ? Por favor no olvide en contactarnos, uno de nuestros Asistente se estara comunicando con usted.
    </h3>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control border border-danger rounded">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control border border-danger rounded">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control border border-danger rounded">
                            <label for="subject" class="">Sobre el Tema</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" cols="40" rows="10" class="form-control md-textarea border border-danger rounded"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-danger border border-danger rounded" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
     
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Santo Domingo, Av Wiston Churlchil, Republica Dominicana</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 1 809-622-0529</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>lakasita@gmial.com</p>
                </li>
            </ul>
        </div>
       

    </div>

</section>
