
@{
    ViewData["Title"] = "Nosotros";
}

<h1>Nosotros</h1>
<br />
<h1>La ksita Churchill</h1>
<p>Restaurante de Hamburguesas</p>
<h2>HANDCRAFETED BURGERS &Aacute; FRIES.</h2>
<p>Nos aseguramos de proveerles lo mejor de la gastronomía Asiática con nuestros productos siempre frescos y de la mejor calidad del mercado.</p>
<p>Nuestra meta es convertirnos en la mejor cadena de restaurantes Asiáticos del país, confluyendo en la rica variedad de los mejores platos de esta cocina.</p>

<p>Les damos una cordial bienvenida, disfruten la experiencia de YAO… deslumbrante!</p>
<div>
    <ul>
        <p>En honor a nuestros Valores:</p>
        <li>Calidad</li>
        <li>Imagen</li>
        <li>Presentacion</li>
        <li>Servicio</li>
        <li>Higiene</li>
    </ul>
</div>